extends layouts/main
include mixin/videoBlock

block content
    .search__header
        h3 searching for : #{searchingBy}
    .search__videos
        each video in videos
                +videoBlock({
                    title:video.title,
                    views:video.views,
                    videoFile:video.videoFile,
                })